<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas</h2>

    Autor: <%= autor %><p>
    <img src="images/smiley.gif" alt="Smiley face" width="42" height="42">
  </body>
</html>
